{% extends "base.html" %}



    {% block head %}
    <title>Home</title>
    {% endblock %}


    {% block body %}

<div class="container">
<h2>Profiles list</h2>
    <ul>
    {% for user in users %}
  <a href="{% url 'accounts:view_profile_with_pk' pk=user.pk %}">
            <h3>{{user.first_name}} {{user.last_name}} </h3>
            <p>{{ user.userprofile.pers_summary }}</p>
          </a>
    {% empty %}
        <li>Sorry, no users in this list.</li>
    {% endfor %}
    </ul>

  </div>


{% endblock %}
